# Copy this file to mozilla.yml and change the settings below

database:
  dbname: bugs_database
  host: localhost
  port: 3389
  username: user
  password: pass
source:
  path: /path-to/mozilla-central
dates:
  initial: 2007-01-01
  final: 2015-01-01
